[user]
	email = jeanpaul.bouliane@gmail.com
	name = madmax3553
[push]
	autoSetupRemote = true
[credential]
	helper = manager
	credentialStore = cache
	helper = 
	helper = /usr/sbin/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[url "git@github.com:"]
	insteadOf = https://github.com/
